

/***********************/
/*       INDEX         */
/*======================
 *    01.  Variables   *
 *    02.  Components  *
 *    03.  General     *
 *    04.  Helper      *
 *    05.  Menu        *
 *    06.  Home        *
 *    07.  About       *
 *    08.  Service     *
 *    09.  Counter     *
 *    10.  Resume      *
 *    11.  C.T.A       *
 *    12.  Portfolio   *
 *    13.  Testi       *
 *    14.  Blog        *
 *    15.  Contact     *
 *    16.  Footer      *
 *    16.  Switcher    *
 ======================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&amp;display=swap");
:root{
  --Darktextcolor: #6c757d;
  --Darkbgcolor: #1a1b1f;
  --Darkboxshaddowbg: linear-gradient(145deg, #17181c, #1c1d2144);
  --Darkboxshaddowbg2: linear-gradient(145deg, #17181c, #1c1d2144);
  --Darkboxshadoww: 8px 8px 5px #000000, -5px -4px 5px #444547;
  --Darkboxshadowwinset: inset 10px 9px 5px #000000, inset -8px -8px 5px #444547;
}
/*[data-theme="dark"]*/


[data-theme="dark"] #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--Darkbgcolor) !important;
  z-index: 9999999;
}

[data-theme="dark"] #preloader #status {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

[data-theme="dark"] #preloader #status .spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
          animation: sk-rotate 2.0s infinite linear;
}

[data-theme="dark"] #preloader #status .spinner .dot1, [data-theme="dark"] #preloader #status .spinner .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #c52c20;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
}

[data-theme="dark"] #preloader #status .spinner .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

[data-theme="dark"].btn {
  padding: 12px 24px;
  outline: none;
  border-radius: 0;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;

}

[data-theme="dark"].btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

[data-theme="dark"].btn.btn-sm {
  padding: 7px 16px;
  font-size: 10px;
}

[data-theme="dark"].btn.btn-lg {
  padding: 14px 30px;
  font-size: 16px;
}

[data-theme="dark"].btn.btn-custom {
  color: #ffffff;
  background: #c52c20;
}

[data-theme="dark"].btn.btn-custom:hover, [data-theme="dark"].btn.btn-custom:focus, [data-theme="dark"] .btn.btn-custom:active, [data-theme="dark"] .btn.btn-custom.active, [data-theme="dark"] .btn.btn-custom.focus {
  background-color: #161c2d !important;
  color: #ffffff !important;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
}

[data-theme="dark"].btn.btn-custom-outline {
  border: 1px solid #c52c20;
  color: #c52c20;
  background-color: transparent;
}

[data-theme="dark"].btn.btn-custom-outline:hover, [data-theme="dark"] .btn.btn-custom-outline:focus, [data-theme="dark"] .btn.btn-custom-outline:active, [data-theme="dark"] .btn.btn-custom-outline.active, [data-theme="dark"] .btn.btn-custom-outline.focus {
  background-color: #c52c20 !important;
  border-color: #c52c20 !important;
  color: #ffffff !important;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
}

[data-theme="dark"].btn.btn-outline-white {
  border: 1px solid #ffffff !important;
  color: #ffffff;
  background-color: transparent;
}

[data-theme="dark"].btn.btn-outline-white:hover, [data-theme="dark"] .btn.btn-outline-white:focus, [data-theme="dark"] .btn.btn-outline-white:active, [data-theme="dark"] btn.btn-outline-white.active, [data-theme="dark"] .btn.btn-outline-white.focus {
  background-color: #c52c20 !important;
  border: 1px solid #c52c20 !important;
  color: #ffffff !important;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06) !important;
}

[data-theme="dark"].progress-box .progress {
  height: 8px;
  overflow: visible;
  border: 1px solid #ced4da;
}

[data-theme="dark"].progress-box .progress .progress-bar {
  height: 2px;
  border-radius: 4px;
  margin: auto 2px;
  -webkit-animation: animate-positive 3s;
          animation: animate-positive 3s;
}

[data-theme="dark"].progress-box .progress .progress-value {
  position: absolute;
  top: -38px;
  right: -20px;
  padding: 5px;
  font-size: 13px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

[data-theme="dark"] .nav-pills .nav-link {
  color: #161c2d !important;
  margin: auto 15px;
  border: 1px solid #e9ecef;
}

[data-theme="dark"] .nav-pills .nav-link.active {
  background-color: #c52c20;
  color: #ffffff !important;
  border-color: #c52c20 !important;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}

[data-theme="dark"] .nav-pills a.title {
  font-size: 16px;
}

[data-theme="dark"] {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  color: #ffffff;
  background:var(--Darkbgcolor) !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

::-moz-selection {
  background: #6c757d;
  color: #ffffff;
}

::selection {
  background: #6c757d;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

p {
  letter-spacing: 0.03em;
  line-height: 1.8;
}

[data-theme="dark"].section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

[data-theme="dark"].section-two {
  padding: 60px 0;
  position: relative;
}

[data-theme="dark"].bg-overlay {
  background-color: rgba(35, 37, 47, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

[data-theme="dark"].bg-over-image {
  background-color: rgba(35, 37, 47, 0.5) !important;
  background-image: url("../../images/overlay.png");
  background-repeat: repeat;
}

[data-theme="dark"].text-custom {
  color: #c52c20;
}

[data-theme="dark"].bg-custom {
  background-color: #c52c20;
}

[data-theme="dark"].title-heading .sub-title {
  font-size: 18px;
  letter-spacing: 1px;
}

[data-theme="dark"].title-heading .heading {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}

[data-theme="dark"].title-heading img {
  height: 200px;
  border: 5px solid #dee2e6;
}

[data-theme="dark"].section-title {
  position: relative;
  margin-bottom: 30px;
}

[data-theme="dark"].section-title .title {
  letter-spacing: 1px;
  font-size: 26px;
  position: relative;
  display: inline-block;
  z-index: 2;
}

[data-theme="dark"].section-title .titles:after, [data-theme="dark"] .section-title .titles:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  left: calc(50% - 45px);
  border-radius: 3px;
  top: 55px;
  background-color: #c52c20;
}

[data-theme="dark"].section-title .titles:before {
  left: calc(50% + 17px);
}

[data-theme="dark"].section-title .titles span {
  position: absolute;
  width: 35px;
  height: 17px;
  left: calc(50% - 17px);
}

[data-theme="dark"].section-title .titles span:before, [data-theme="dark"] .section-title .titles span:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  left: 2px;
  border: 2px solid #c52c20;
  border-radius: 30px 30px 30px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

[data-theme="dark"].section-title .titles span:after {
  left: auto;
  right: 2px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

[data-theme="dark"].para-desc {
  max-width: 700px;
}

[data-theme="dark"].pt-100 {
  padding-top: 100px;
}

[data-theme="dark"].social-icon li a {
  color: #adb5bd;
  border: 1px solid #adb5bd;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 4px;
}

[data-theme="dark"].social-icon li a:hover {
  background-color: #c52c20;
  border-color: #c52c20 !important;
  color: #ffffff !important;
}

[data-theme="dark"].social-icon.social li a {
  color: #161c2d;
  border-color: #161c2d;
}


[data-theme="dark"] .back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  display: none;
  color: #ffffff;
  background-color: #6c757d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}

[data-theme="dark"] .back-to-top i {
  font-size: 16px;
}

[data-theme="dark"] .back-to-top:hover {
  background-color: #c52c20;
  color: #ffffff;
}

@media (max-width: 767px) {
  [data-theme="dark"] .section {
    padding: 60px 0;
  }
  [data-theme="dark"] .pt-60 {
    padding-top: 60px;
  }
  [data-theme="dark"] .title-heading .heading {
    font-size: 30px !important;
  }
  [data-theme="dark"] .section-title .title {
    font-size: 24px;
  }
  [data-theme="dark"] .para-desc{
    font-size: 13px;
  }
  [data-theme="dark"] .title-carousel-wrapper{
        padding-left: 15px !important;
  }
  [data-theme="dark"] .btn-custom-outline{
    padding: 6px;
  }
}

[data-theme="dark"] .navbar-custom {
background-color: transparent;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

[data-theme="dark"] .navbar-custom .navbar-toggler {
  color: #161c2d;
  font-size: 30px;
  padding: 0px;
}

[data-theme="dark"] .navbar-custom .navbar-brand {
  margin-right: 0 !important;
}

[data-theme="dark"] .navbar-custom .navbar-brand .l-dark {
  display: none;
}

[data-theme="dark"] .navbar-custom .navbar-brand .l-light {
  display: inline-block;
}

[data-theme="dark"] .navbar-custom .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 13px;
  background-color: transparent !important;
  margin: 0 8px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
}

[data-theme="dark"] .navbar-custom .navbar-nav .nav-item .nav-link:hover, [data-theme="dark"] .navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #c52c20;
}

[data-theme="dark"] .navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #c52c20 !important;
}

[data-theme="dark"] .navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link {
  color: #161c2d;
}

[data-theme="dark"] .navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link:hover, [data-theme="dark"] .navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link:active {
  color: #c52c20;
}

[data-theme="dark"] .navbar-custom .navbar-nav.navbar-nav-link.active .nav-link {
  color: #c52c20 !important;
}

[data-theme="dark"] .navbar-custom .navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
  padding-right: 0;
}

[data-theme="dark"] .navbar-custom .social-icon {
  margin: 0 0 0 8px;
}

[data-theme="dark"] .navbar-custom .social-icon li a {
  color: #161c2d;
  border-color: #161c2d;
}

[data-theme="dark"] .navbar-custom .social-icon.light-social-icon li a {
  color: #e9ecef;
  border-color: #e9ecef;
}

[data-theme="dark"] .nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 12px 0px;
  background-color:var(--Darkbgcolor);
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  color: #f9f9fa !important;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-brand {
  margin-right: 0 !important;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-brand .l-dark {
  display: inline-block;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-brand .l-light {
  display: none;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-nav {
  margin-top: 0px;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover, [data-theme="dark"] .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #c52c20 !important;
}

[data-theme="dark"] .nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #c52c20 !important;
}

[data-theme="dark"] .nav-sticky.navbar-custom.sticky-light {
  background-color: #ffffff;
}

[data-theme="dark"] .nav-sticky .navbar-brand {
  color: #161c2d !important;
}

[data-theme="dark"] .nav-sticky .social-icon.light-social-icon li a {
  color: #161c2d;
  border-color: #161c2d;
}

[data-theme="dark"] .login-button {
  color: #ffffff;
  background-color: #c52c20;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0px;
  padding: 10px 30px;
  line-height: 60px;
  border-radius: 8px;
  letter-spacing: 0.8px;
}

[data-theme="dark"] .login-button:hover {
  color: #ffffff;
}

@media (max-width: 1023px) {
  [data-theme="dark"] .navbar-custom .nav-social {
    display: none;
  }
}

@media (max-height: 480px) {
  [data-theme="dark"] .navbar-nav {
    max-height: 200px;
    overflow-y: auto;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  [data-theme="dark"] .navbar-custom {
    background-color:#ffffff !important;
    padding: 0 !important;
  }
  [data-theme="dark"] .navbar-custom .navbar-nav .nav-item .nav-link {
    color: #161c2d !important;
  }
  [data-theme="dark"] .navbar-custom .navbar-brand .l-dark {
    display: inline-block !important;
  }
  [data-theme="dark"] .navbar-custom .navbar-brand .l-light {
    display: none;
  }
  [data-theme="dark"] .navbar-custom .social-icon.light-social-icon li a {
    color: #161c2d;
    border-color: #161c2d;
  }
  [data-theme="dark"] .navbar-custom .container {
    width: 85%;
  }
  [data-theme="dark"] .login-button {
    margin-left: 5px !important;
  }
}

[data-theme="dark"] .home-center {
  display: table;
  width: 100%;
  height: 100%;

}

[data-theme="dark"] .home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

[data-theme="dark"] .bg-home {
  height: 100vh;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

[data-theme="dark"] .bg-home2 {
  height: 100vh;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}


[data-theme="dark"] .bg-half {
  height: 90vh;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

[data-theme="dark"] .mouse-icon {
  border: 2px solid #495057;
  bottom: 30px;
  height: 42px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
  z-index: 2;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}

[data-theme="dark"] .mouse-icon .wheel {
  background: red;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  width: 2px;
}

[data-theme="dark"] .mover {
  -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
}

[data-theme="dark"] .clip-home {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
          clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

[data-theme="dark"] #sThemes-layout {
  background: url("../../images/boxed.png") fixed repeat;
}

[data-theme="dark"] #sThemes-layout .sThemesbox {
  background: #ffffff;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  max-width: 1170px;
  margin: 0 auto;
}

[data-theme="dark"] #sThemes-layout .sThemesbox .boxed-home {
  max-width: 1170px;
  margin: 0 auto;
}

[data-theme="dark"] .glitch-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
[data-theme="dark"] .glitch-img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1 !important;
}


[data-theme="dark"] .home-shape {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -1px;
  left: 0;
}

[data-theme="dark"] .home-shape img {
  width: 100%;
  height: auto;
}

@media (min-width: 200px) and (max-width: 767px) {
  [data-theme="dark"] .bg-home,  [data-theme="dark"] .bg-half {
    padding: 187px 0;
    height: auto;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  [data-theme="dark"] .bg-home2{
    padding: 80px 0;
    height: auto;
  }
}

[data-theme="dark"] .about-hero:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 3%;
  left: 10%;
  bottom: 0%;
  border-radius: 15px;
  border: 16px solid var(--Darkbgcolor);
  box-shadow: var(--Darkboxshadoww), var(--Darkboxshadowwinset);
}
[data-theme="dark"] .shdow{
   box-shadow: var(--Darkboxshadoww);
}
[data-theme="dark"] .about-info .name {
  font-size: 18px;
}

[data-theme="dark"] .about-info .designation {
  font-size: 16px;
}

[data-theme="dark"] .about-info .about-list {
  line-height: 32px;
}

[data-theme="dark"] .about-info .about-list .list-title {
  max-width: 110px;
  width: 100%;
  font-weight: 500;
}

[data-theme="dark"] .interests-desc {
  -webkit-transition: all 0.5s ease;
  transition: all 1s ease-in-out;
  border-radius: 4px;
  border: 2px solid transparent;
/*background: var(--Darkbgcolor);*/
  /*box-shadow:  -10px -10px 29px #e8e8e8,*/
  /*           10px 10px 29px #ffffff;*/
  /*box-shadow: var(--Darkboxshadoww);*/
}
[data-theme="dark"] .interests-desc:hover {
  /*background: var(--Darkboxshaddowbg);*/
  /*box-shadow: var(--Darkboxshadowwinset);*/
  /*-webkit-box-shadow: var(--Darkboxshadowwinset);*/
  transition: 1s all;
  border: 2px solid var(--Darkbgcolor);
}
[data-theme="dark"] .interests-desc .hobbies:before {
  content: "";
  position: absolute;
  top: 0;
  left: 55px;
  width: 2px;
  height: 100%;
  background: black;
  /*background: #e9ecef;*/
  z-index: 1;
  box-shadow: var(--Darkboxshaddowbg) !important;
}
[data-theme="dark"] .interests-desc .icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .interests-desc .title {
  font-size: 17px;
  font-weight: 500;
}
[data-theme="dark"] .interests-desc:hover .icon {
  color: #c52c20;
}
[data-theme="dark"] .service-wrapper {
  -webkit-transition: all 0.5s ease;
  transition: all 1s;
  border-radius: 15px;
  background:  var(--Darkboxshaddowbg2) !important;

   box-shadow: var(--Darkboxshadoww);

  /*border-color: var(--Darkbgcolor);*/
  /*border: none;*/
}
[data-theme="dark"] .service-wrapper .icon i {
  font-size: 40px;
}
[data-theme="dark"] .service-wrapper .content .title {
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .service-wrapper:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: #c52c20;
}
[data-theme="dark"] .service-wrapper:hover {
  /*-webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);*/
  /*        box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);*/
  transition: 1s all;
  box-shadow: var(--Darkboxshadowwinset);
  border: transparent !important;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
[data-theme="dark"] .service-wrapper:hover:after {
  left: 0;
  right: 0;
  width: 100%;
}
[data-theme="dark"] .service-wrapper:hover .icon {
  -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
}
[data-theme="dark"] .service-wrapper:hover .content .title {
  color: #c52c20;
}
@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
[data-theme="dark"] .counter-box {
  border-color: #6c757d !important;
}
[data-theme="dark"] .counter-box .counter-icon i {
  font-size: 45px;
}
[data-theme="dark"] .counter-box .counter-head {
  font-size: 16px;
  font-weight: 500;
}
[data-theme="dark"] .counter-box .counter-value {
  font-size: 36px;
}
[data-theme="dark"] .main-icon i {
  border: 2px solid #ced4da;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  -webkit-text-stroke: 1px #161c2d;
  -webkit-text-fill-color: #161c2d;
}
[data-theme="dark"] .timeline-page:after {
  background-color: #ced4da !important;
  content: "";
  height: 95%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}
[data-theme="dark"] .timeline-page .timeline-item .date-label-left, [data-theme="dark"] .timeline-page .timeline-item .duration-right {
  margin-right: 15px;

}
[data-theme="dark"] .timeline-page .timeline-item .date-label-left:after, [data-theme="dark"] .timeline-page .timeline-item .duration-right:after {
  border: 2px solid #161c2d;
  content: "";
  position: absolute;
  top: 12px;
  width: 12px;
  height: 12px;
  z-index: 1;
  background-color: #f8f9fa;
  border-radius: 30px;
}
[data-theme="dark"] .timeline-page .timeline-item .date-label-left {
  float: right;
  /*box-shadow: var(--boxshadoww) !important;*/
  margin-right: 15px;
}
[data-theme="dark"] .timeline-page .timeline-item .date-label-left:after {
  right: -37px;
}
[data-theme="dark"] .timeline-page .timeline-item .duration-right {
  float: left;
  /*box-shadow: var(--boxshadoww) !important;*/
  margin-left: 15px;
}
[data-theme="dark"] .timeline-page .timeline-item .duration-right:after {
  left: -37px;
}
[data-theme="dark"] .timeline-page .timeline-item .event {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*box-shadow: var(--boxshadoww) !important;*/
  /*background:  linear-gradient(145deg, #d4d8db, #fdffff);;*/
}
[data-theme="dark"] .timeline-page .timeline-item .event .title {
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .timeline-page .timeline-item .event .company {
  font-size: 13px;
}
[data-theme="dark"] .timeline-page .timeline-item .event.event-description-right {
  text-align: left;
  margin-left: 15px;
}
[data-theme="dark"] .timeline-page .timeline-item .event.event-description-left {
  text-align: right;
  margin-right: 15px;
}
[data-theme="dark"] .timeline-page .timeline-item .event .timeline-subtitle {
  font-size: 14px;
}
[data-theme="dark"] .timeline-page .timeline-item .event:hover {
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}
[data-theme="dark"] .timeline-page .timeline-item .event:hover .title {
  color: #c52c20;
}
@media (max-width: 767px) {
  [data-theme="dark"] .main-icon {
    text-align: left !important;
  }
  [data-theme="dark"] .timeline-page {
    margin-left: 18px;
  }
  [data-theme="dark"] .timeline-page:after {
    margin: 0;
  }
  [data-theme="dark"] .timeline-page .timeline-item .duration {
    float: left !important;
    margin: 0 0 30px 15px !important;
    text-align: left !important;
    background:  linear-gradient(145deg, #d4d8db, #fdffff);;

  }
  [data-theme="dark"] .timeline-page .timeline-item .duration:after {
    left: -21px !important;
  }
  [data-theme="dark"] .timeline-page .timeline-item .duration .event {
    text-align: left !important;
    margin-left: 15px;
  }
  [data-theme="dark"] .timeline-page .timeline-item .event-description-left {
    text-align: left !important;
    margin: 0 0 0 15px;
  }
}
[data-theme="dark"] .cta-full .container-fluid {
  max-width: 100%;
}
[data-theme="dark"] .cta-full .container-fluid .padding-less.img {
  /*background: scroll center no-repeat;*/
  /*background-size: cover;*/
  /*position: relative;*/
  height: 100%;
}
[data-theme="dark"] .cta-full .container-fluid .padding-less2.img {
  /*background: scroll center no-repeat;*/
  /*background-size: cover;*/
  /*position: relative;*/
  height: 100%;
}
[data-theme="dark"] .cta-full .cta-full-img-box {
  padding: 100px 10%;
}
[data-theme="dark"] .cta-full .cta-full-head {
  font-size: 22px;
  letter-spacing: 0.8px;
}
@media (max-width: 768px) {
  [data-theme="dark"] .cta-full .padding-less {
    position: relative !important;
    height: 300px !important;
  }
  [data-theme="dark"] .cta-full .padding-less2 {
    position: relative !important;
    height: 100% !important;
  }
  [data-theme="dark"] .cta-full .cta-full-content {
    text-align: left !important;
  }
}
@media (max-width: 767px) {
  [data-theme="dark"] .cta-full .cta-full-img-box {
    padding: 60px 10%;
  }
}
[data-theme="dark"] .container-filter li a {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .container-filter li a:hover, [data-theme="dark"].container-filter li a.active {
  color: #ffffff !important;
  background-color: #c52c20;
  border-color: #c52c20 !important;
}
[data-theme="dark"] .portfolio-box .work-img img {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
[data-theme="dark"] .comming-soon{
  width: 90%;
  height: 90%;
  top: 13px;
  left: 15px;
  bottom:15px;
  right: 15px;
  z-index: 20;
  background-color: rgba(100,100,100,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(100,100,100,0.6);
  border-radius: 6px;
  opacity: 0;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  opacity: 0;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background-color: rgba(27, 27, 27, 0.8);
  z-index: 1;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work .icon {
  position: absolute;
  bottom: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: 0;
  left: 0;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work .icon i {
  font-size: 30px;
  margin: 0 auto;
  display: inline-block;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work .icon i:hover {
  color: #c52c20 !important;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work .work-content {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work .work-content .title a {
  font-size: 15px;
}
[data-theme="dark"] .portfolio-box .work-img .overlay-work .work-content .title:hover a {
  color: #c52c20 !important;
}
[data-theme="dark"] .portfolio-box:hover .work-img img {
  -webkit-transform: scale(1.3) rotate(5deg);
          transform: scale(1.3) rotate(5deg);
}
[data-theme="dark"] .portfolio-box:hover .work-img .overlay-work {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
[data-theme="dark"] .portfolio-box .work-img .comming-soon {
  opacity: 1;
  /*-webkit-transform: scale(1);*/
  /*        transform: scale(1);*/
}
[data-theme="dark"] .client-review {
  padding: 30px 30px 40px 30px;
}
[data-theme="dark"] .client-review .review-para {
  font-size: 14px;
}
[data-theme="dark"] .client-review .reviewer img {
  height: 65px;
}
[data-theme="dark"] .client-review .reviewer .content .name {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
[data-theme="dark"] .owl-theme .owl-controls .owl-page span {
  border-radius: 30px;
  background: transparent;
  border: 2px solid #c52c20;
}
[data-theme="dark"] .owl-theme .owl-controls .owl-page.active span,
[data-theme="dark"] .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #c52c20;
}

[data-theme="dark"] .blog-post .content .post-meta li, [data-theme="dark"].blog-post .content .post-meta li a {
  font-size: 14px;
}

[data-theme="dark"] .blog-post .content .title {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .blog-post .content .title:hover {
  color: #c52c20 !important;
}
[data-theme="dark"] .blog-post .content a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .blog-post .content a:hover {
  color: #c52c20 !important;
}
[data-theme="dark"] .form-group {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
[data-theme="dark"] .form-group .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #161c2d;
  background: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-theme="dark"] .form-group textarea {
  height: 180px !important;
}
[data-theme="dark"] .contact-detail .icon {
  font-size: 30px;
}
[data-theme="dark"] .contact-detail .content .title {
  font-size: 16px;
}
[data-theme="dark"] .contact-detail p {
  font-size: 15px;
}
[data-theme="dark"] .error {
  margin: 8px 0px;
  display: none;
  color: #dc3545;
}
[data-theme="dark"] #ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}
[data-theme="dark"] .error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #dc3545;
  color: #dc3545;
  border-radius: 5px;
  font-size: 14px;
}
[data-theme="dark"] .contact-loader {
  display: none;
}
[data-theme="dark"] #success_page {
  text-align: center;
  margin-bottom: 50px;
}
[data-theme="dark"] #success_page h3 {
  color: #28a745;
  font-size: 22px;
}
[data-theme="dark"] .footer {
  padding: 60px 0;
  position: relative;
  color: #adb5bd;
  font-size: 15px;
}
[data-theme="dark"] .footer.footer-bar {
  padding: 20px 0;
}
[data-theme="dark"] hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #495057;
}
[data-theme="dark"] #style-switcher {
  background: none repeat scroll 0 0 #ffffff;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  left: -189px;
  position: fixed;
  top: 17%;
  width: 189px;
  z-index: 9999;
  padding: 10px 5px;
}
[data-theme="dark"] #style-switcher .title {
  font-size: 16px;
  margin: 8px 3px 12px;
}
[data-theme="dark"] #style-switcher .bottom {
  background: none repeat scroll 0 0 #ffffff;
  color: #161c2d;
  padding: 0;
}
[data-theme="dark"] #style-switcher .bottom a {
  text-decoration: none;
}
[data-theme="dark"] #style-switcher .bottom a.settings {
  background: none repeat scroll 0 0 #ffffff;
  -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
  display: block;
  height: 41px;
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
  padding: 3px;
  border-radius: 0 30px 30px 0;
}
[data-theme="dark"] #style-switcher .bottom a.settings i {
  margin-left: 5px;
  font-size: 24px;
  position: absolute;
}
[data-theme="dark"]ul.pattern {
  list-style: none outside none;
  margin: 0 0 0px;
  overflow: hidden;
  padding: 0;
  border-radius: 0px;
}
[data-theme="dark"]ul.pattern li {
  float: left;
  margin: 2px;
}
[data-theme="dark"]ul.pattern li a {
  cursor: pointer;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
}
[data-theme="dark"]ul.pattern .default {
  background-color: #c52c20;
}
[data-theme="dark"]ul.pattern .light-green {
  background-color: #67c56e;
}
[data-theme="dark"]ul.pattern .yellow {
  background-color: #f89d36;
}
[data-theme="dark"]ul.pattern .purple {
  background-color: #662e9b;
}
[data-theme="dark"]ul.pattern .light-yellow {
  background-color: #eaba6b;
}
[data-theme="dark"]ul.pattern .dark-pink {
  background-color: #e63254;
}
@media only screen and (max-width: 479px) {
  [data-theme="dark"]#style-switcher {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */


 [data-theme="dark"] .my_animated_ovelay {
            position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: -110%;
                transition: 1s;
                background: rgba(27, 27, 27, 0.4);
                z-index: 100;

            }
            [data-theme="dark"] .animate-it{
               animation-name: swival;
                animation-direction: alternate-reverse;
                animation-duration: 1s;

                animation-play-state: running;
                animation-fill-mode: forwards;
                animation-iteration-count:2;
                animation-timing-function: ease-in-out;
            }
            @keyframes swival {
                0% {
                    left: -110%;
                    transition: 1s;
                }
                50%{
                    left: 100%;
                    transition: 1s;
                }
                100% {
                    left: -110%;
                    transition: 1s;
                }
            }
            [data-theme="dark"] .social-holder{
                position: fixed;
                top: 30%;
                right: -65px;
                z-index: 222;
                margin: 5px auto;
                width: 60px;
                transition: .7s all;
            }
            [data-theme="dark"] .social-holder ul {
                background-color: #c52c20;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                display: inline-table;
                position: relative;
            }
            [data-theme="dark"] .social-holder ul li {
                float: left;
            }
            [data-theme="dark"] .social-holder ul li a {
                color: #ffffff;
                display: block;
                height: 45px;
                line-height: 45px;
                text-align: center;
                width: 50px;
            }
            [data-theme="dark"] .social-holder ul li a:hover{
                color: #fff;
            }
            [data-theme="dark"] .social-holder ul li ul {
                background-color: #c52c20;
                margin-top: 20px;
                padding: 5px 0;
                position: absolute;
            }
            [data-theme="dark"] .social-holder ul li ul:before {
                background-color: #c52c20;
                content: "";
                display: block;
                height: 8px;
                left: 29px; /* (nav ul li a { width: 60px; } / 2) - (nav ul li ul:before { width: 8px; } / 2) */
                position: absolute;
                top: -4px;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                width: 8px;
                z-index: -1;
            }
            [data-theme="dark"] .social-holder ul li ul li {
                float: none;
            }
            [data-theme="dark"] .social-holder ul li ul li a {
                color: #fff;
                transition: 1s all;
            }
            [data-theme="dark"] .social-holder ul li ul li a:hover {
                background-color: black;
            }
            [data-theme="dark"] body {
            cursor: none !important;
            }
            [data-theme="dark"] *:hover{
            cursor: none !important;
            }
            [data-theme="dark"] .cursor {
              position: fixed;
              left: 0;
              top: 0;
              pointer-events: none;
            }
            [data-theme="dark"] .cursor--small {
              width: 9px;
              height: 9px;
              left: -4.5px;
              top: -4.5px;
              border-radius: 50%;
              z-index: 12000000000;
              background: red;
            }
            [data-theme="dark"] .cursor--canvas {
              width: 100vw;
              height: 100vh;
              z-index: 120000000000;
            }

          [data-theme="dark"] .myside-banner-text{
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        left: -219px;
        bottom: 166px;
        font-size: 57px;
        transition: 1s;
    }
     @media (max-width: 900px) {
            [data-theme="dark"] .myside-banner-text{
                font-size:40px;

             }
     }
     @media (max-width: 520px) {
        [data-theme="dark"] .myside-banner-text{
            font-size:40px;

          }
      }
     @media screen and (max-width: 1080px) {
        [data-theme="dark"] .myside-banner-text{
            left: -219px;
            bottom: 166px;
          }
      }
     @media screen and (max-width: 983px) {
        [data-theme="dark"] .myside-banner-text{
                left: -172px;
                bottom: 131px;
                font-size: 45px;

          }
      }
    @media  screen and (max-width: 893px) {
        [data-theme="dark"] .myside-banner-text{
           left: -147px;
            bottom: 125px;
            font-size: 40px;

        }

      }
     @media screen and (max-width: 500px) {
            [data-theme="dark"] .myside-banner-text{
               visibility: hidden;

            }

      }

[data-theme="dark"] .myshadow{
   background:  var(--Darkbgcolor) !important;
   box-shadow: var(--Darkboxshadoww) !important;
   transition: 1s all ease;
  border-radius: 6px;

}
[data-theme="dark"] .myshadow:hover{
   background:  var(--Darkboxshaddowbg2) !important;
   box-shadow: var(--Darkboxshadowwinset) !important;
}
[data-theme="dark"] .myshadow2{
   background:  var(--Darkboxshaddowbg2) !important;
   box-shadow: var(--Darkboxshadoww) !important;
   transition: 1s all ease;
  border-radius: 6px;
}
[data-theme="dark"] .myshadow2:hover{
   background:  var(--Darkboxshaddowbg2) !important;
   box-shadow: var(--Darkboxshadowwinset) !important;
}
[data-theme="dark"] .loder{}
[data-theme="dark"] .new_footer_area {
    background: var(--Darkbgcolor);
}
[data-theme="dark"] .new_footer_top {
    padding: 120px 0 270px;
    position: relative;
      overflow-x: hidden;
}
[data-theme="dark"] .new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 7px;
}
[data-theme="dark"] .footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
[data-theme="dark"] .new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
[data-theme="dark"] .new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
[data-theme="dark"] .btn_get_two:hover {
    background: transparent;
    color: #c52c20;
}
[data-theme="dark"] .btn_get:hover {
    color: #fff;
    background: #c52c20;
    border-color: #c52c20;
    -webkit-box-shadow: none;
    box-shadow: none;
}
[data-theme="dark"] a:hover, [data-theme="dark"] a:focus, [data-theme="dark"] btn:hover, [data-theme="dark"] btn:focus, [data-theme="dark"] button:hover, [data-theme="dark"] button:focus {
    text-decoration: none;
    outline: none;
}
[data-theme="dark"] .new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: black;
}
[data-theme="dark"] .new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
[data-theme="dark"] .f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
[data-theme="dark"] .f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
[data-theme="dark"] .f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
[data-theme="dark"] .new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    /*border: 1px solid #e2e2eb;*/
    font-size: 24px;
}
[data-theme="dark"] .f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
[data-theme="dark"] .ti-facebook:before {
    content: "\e741";
}
[data-theme="dark"] .ti-twitter-alt:before {
    content: "\e74b";
}
[data-theme="dark"] .ti-vimeo-alt:before {
    content: "\e74a";
}
[data-theme="dark"] .ti-pinterest:before {
    content: "\e731";
}
[data-theme="dark"] .btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #c52c20;
    border-color: #c52c20;
    color: #fff;
}
[data-theme="dark"] .btn_get_two:hover {
    background: transparent;
    color:black;
}
[data-theme="dark"] .kkk{
  color: var(--Darktextcolor);
}
[data-theme="dark"] .new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
[data-theme="dark"] .new_footer_top .f-title {
    margin-bottom: 30px;
    color:var(--Darktextcolor);
}
[data-theme="dark"] .f_600 {
    font-weight: 600;
}
[data-theme="dark"] .f_size_18 {
    font-size: 18px;
}
[data-theme="dark"] h1, [data-theme="dark"] h2, [data-theme="dark"] h3, [data-theme="dark"] h4, [data-theme="dark"] h5, [data-theme="dark"] h6 {
    color: #4b505e;
}
[data-theme="dark"] .new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}
[data-theme="dark"] .new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;

}
[data-theme="dark"] .new_footer_top .footer_bg .footer_bg_one {
    background: url("../../images/blog/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: -20px;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}
[data-theme="dark"] .new_footer_top .footer_bg .footer_bg_two {
    background: url("../../images/blog/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: -4px;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}
@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
/*************footer End*****************/

  [data-theme="dark"] .inp {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
  }
  [data-theme="dark"] .inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: var(--Darktextcolor);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
  }
  [data-theme="dark"] .inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  [data-theme="dark"] .inp input, [data-theme="dark"] .inp textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.00);
    box-shadow: var(--Darkboxshadoww);
    color:var(--Darktextcolor);
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  [data-theme="dark"] .inp input:hover , [data-theme="dark"].inp textarea:hover {
    background: var(--Darkboxshaddowbg) !important;
    box-shadow: var(--Darkboxshadowwinset);
  }
  [data-theme="dark"] .inp input:not(:placeholder-shown) + .label {
    color: var(--Darktextcolor);
    -webkit-transform: translate3d(0, -12px, 0) scale(0.75);
            transform: translate3d(0, -12px, 0) scale(0.75);
  }
  [data-theme="dark"] .inp input:focus {
    background: var(--Darkboxshaddowbg) !important;
    outline: none;
    box-shadow: inset 0 -2px 0 #c52c20;;
  }
  [data-theme="dark"] .inp input:focus + .label {
    color: #c52c20;;
    -webkit-transform: translate3d(0, -12px, 0) scale(0.75);
            transform: translate3d(0, -12px, 0) scale(0.75);
  }
  [data-theme="dark"] .inp input:focus + .label + .focus-bg {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
[data-theme="dark"] .main-icon i {
  border: 2px solid #ced4da;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  -webkit-text-stroke: 1px var(--Darktextcolor);
  -webkit-text-fill-color: var(--Darktextcolor);
}
  [data-theme="dark"] .icon-light [data-theme="dark"] .text-dark-light{
    /*color: #ffffff;*/
  }
  [data-theme="dark"] .icon-shadow{
     background:  var(--Darkbgcolor) !important;
   box-shadow: var(--Darkboxshadoww) !important;

  }
[data-theme="dark"] .icon-shadow:hover {
   background:  var(--Darkboxshaddowbg2) !important;
   box-shadow: var(--Darkboxshadowwinset) !important;

  }



[data-theme="dark"] .text-shadow{
  text-shadow:-5px 7px 5px #000000, 6px -6px 5px #28292d;
}
/*darkswicth*/
[data-theme="dark"] .mcheckbox {
	opacity: 0;
	position: absolute;
}
[data-theme="dark"] .mlabel {
	background-color: var(--Darkbgcolor);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 19px;
	width: 44px;
    margin-bottom: 1px;
	transform: scale(1.5);
    box-shadow: 3px 2px 5px #000000, -3px -2px 5px #444547;
}
[data-theme="dark"] .mlabel2 {
	background-color: transparent;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 19px;
	width: 44px;
    margin-bottom: 1px;
	transform: scale(1.5);
    box-shadow: 0 0 0 transparent;
}

[data-theme="dark"]  .mlabel .mball, [data-theme="dark"] .mlabel2 .mball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 14px;
	width: 14px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
[data-theme="dark"] .mcheckbox:checked + .mlabel .mball, [data-theme="dark"] .mcheckbox:checked + .mlabel2 .mball {
	transform: translateX(24px);
}
[data-theme="dark"] .fa-moon {
	color: indianred;
    font-size: 11px;
}
[data-theme="dark"] .fa-sun {
	color: indianred;
    font-size: 11px;
}
