.bg-custom,
.btn.btn-custom, 
.btn.btn-custom-outline:hover, 
.btn.btn-custom-outline:focus, 
.btn.btn-custom-outline:active, 
.btn.btn-custom-outline.active, 
.btn.btn-custom-outline.focus,
.btn.btn-outline-white:hover, 
.btn.btn-outline-white:focus, 
.btn.btn-outline-white:active, 
.btn.btn-outline-white.active, 
.btn.btn-outline-white.focus,
.nav-pills .nav-link.active,
.section-title .titles:after, 
.section-title .titles:before,
.social-icon li a:hover,
#preloader #status .spinner .dot1, 
#preloader #status .spinner .dot2,
.back-to-top:hover,
.login-button,
.bg-hero.bg-animation-right:after,
.service-wrapper:after,
.container-filter li a:hover,
.container-filter li a.active,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: #c52c20 !important;
}

.text-custom,
.btn.btn-custom-outline,
.navbar-custom .navbar-nav .nav-item .nav-link:hover, 
.navbar-custom .navbar-nav .nav-item .nav-link:active,
.navbar-custom .navbar-nav .nav-item.active .nav-link,
.navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link:hover, 
.navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link:active,
.navbar-custom .navbar-nav.navbar-nav-link.active .nav-link,
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover, 
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active,
.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link,
.interests-desc:hover .icon,
.service-wrapper:hover .content .title,
.timeline-page .timeline-item .event:hover .title,
.portfolio-box .work-img .overlay-work .icon i:hover,
.portfolio-box .work-img .overlay-work .work-content .title:hover a,
.blog-post .content .title:hover,
.blog-post .content a:hover{
    color: #c52c20 !important;
}

.btn.btn-custom-outline,
.btn.btn-custom-outline:hover, 
.btn.btn-custom-outline:focus, 
.btn.btn-custom-outline:active, 
.btn.btn-custom-outline.active, 
.btn.btn-custom-outline.focus,
.btn.btn-outline-white:hover, 
.btn.btn-outline-white:focus, 
.btn.btn-outline-white:active, 
.btn.btn-outline-white.active, 
.btn.btn-outline-white.focus,
.nav-pills .nav-link.active,
.section-title .titles span:before, 
.section-title .titles span:after,
.social-icon li a:hover,
.container-filter li a:hover, 
.container-filter li a.active
.owl-theme .owl-controls .owl-page span{
    border-color: #c52c20 !important;
}


/*new tweeks*/
.my_slider{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

  }
  .owl-item, .owl-stage-outer, .owl-stage{
      height: 100% !important;
  }
  .owl-carousel .owl-dots {
      position: absolute;
      top: 50%;
      left: 10px;
      display: flex;
      flex-direction: column;
      transform: translateY(-50%);
  }

  .owl-carousel .owl-dots .owl-dot.active {
      width: 25px;
      height: 25px;
      margin: 10px;
      border-radius: 50%;
      background: #c52c20;
      transition: 1s all;
      /*clip-path: polygon(50% 0%, 0% 100%, 100% 100%);*/
      transform: rotate(360deg);
      clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);


  }
  .owl-dot:after {
      display: none;
  }


  * {
    box-sizing: border-box;
  }



  .ck-editor__editable{
      height: 220px;
      background: rgba(0, 0, 0, 0.02);
  }
/* end of new tweeks*/