{% extends 'layout/layout.html' %}
{% load static %}
{% load call_method %}
{% block style %}
    <style>
        .header-text{
                position: absolute;
                /* bottom: -15px; */
                top: 70%;
                right: 9%;
                font-size: 50px;
                transition: 1s;
        }
        @media screen and (max-width: 900px) {
            .header-text{
                font-size: 45px;
             }
        }
        @media screen and (max-width: 768px) {
            .header-text{
                font-size: 40px;
                right: 50%;
                transform: translateX(50%);
             }
        }
        @media screen and (max-width: 600px) {
            .header-text{
                font-size: 30px;
                right: 50%;
                transform: translateX(50%);
             }
        }
        @media screen and (max-width: 400px) {
            .header-text{
                font-size: 25px;
                right: 50%;
                transform: translateX(50%);
             }
        }

    </style>
{% endblock style %}
{% block content %}
    <!-- Navbar Start -->
    <nav style="z-index: 10000;
                {% if announces.count > 0 %}
                    display: flex; flex-direction: column; padding: 0;
                {% endif %}
                {% if announces.count == 0 %}
                    padding: 20px 0;
                {% endif %} "
             class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
            {% if announces.count > 0 %}
                {% for a in announces %}
                    <div style="z-index: 10000; position: relative; width: 100%;height: 40px; margin-bottom: 10px; background: {{ a.backgroud_color }}; overflow: hidden;" class="">
                        <div class="d-flex container justify-content-between align-items-center" style="height: 100%;">
                            <span style="color: {{ a.text_color }};">
                                {% if a.icon %}
                                    <i class="{{ a.icon }} px-2"></i>
                                {% endif %}
                                 <span class="element2" data-elements2="{{ a.message|capfirst }}_"></span>
                            </span>
                            <span style="color: {{ a.text_color }};" aria-hidden="true">&times;</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

    		<div class="container " {% if announces.count > 0 %} style="padding: 15px 0;" {% endif %}>
			    <a id="logo1" class="navbar-brand p-0" href="{% url 'frontend:home' %}">
                    <img style="height: 30px;" src="{% static 'images/darklogo.png' %}" class="l-dark"  alt="">
                    <img style="height: 30px;" src="{% static 'images/lightlogo.png' %}" class="l-light"  alt="">
                </a>
                <a style="display: none;" id="logo2" class="navbar-brand p-0" href="{% url 'frontend:home' %}">
                    <img style="height: 30px;" src="{% static 'images/lightlogo.png' %}" class="l-dark"  alt="">
                    <img style="height: 30px;" src="{% static 'images/darklogo.png' %}" class="l-light"  alt="">
                </a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="mdi mdi-menu"></span>
			    </button><!--end button-->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'frontend:home' %}">Home</a>
                    </li><!--end nav item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Portfolio</a>
                    </li><!--end nav item-->

                     <li class="nav-item d-flex justify-content-center align-items-center">
                          <div class="ml-md-3">
                            <input type="checkbox" class="mcheckbox" id="chk" />
                            <label id="ckh" class="mlabel " for="chk">
                                <i class="fas fa-sun"></i>
                                <i class="fas fa-moon"></i>
                                <div class="mball"></div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

        </div><!--end container-->
    </nav><!--end navbar-->
    <!-- Navbar End -->

    <section class="bg-home2" style="height: 50%!important;" id="home">
        <div class="col-sm-12 h-100">
            <div class="row h-100">
                <div style=" width: 100%; height: 100%; position: relative;" >
{#                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">#}
{#              <path fill="#ff5500" fill-opacity="1" d="M0,224L34.3,240C68.6,256,137,288,206,304C274.3,320,343,320,411,288C480,256,549,192,617,176C685.7,160,754,192,823,176C891.4,160,960,96,1029,69.3C1097.1,43,1166,53,1234,53.3C1302.9,53,1371,43,1406,37.3L1440,32L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>#}
{#            </svg>#}
                    <svg   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                      <path fill="#ff5500" fill-opacity="1" d="M0,160L24,176C48,192,96,224,144,250.7C192,277,240,299,288,256C336,213,384,107,432,90.7C480,75,528,149,576,154.7C624,160,672,96,720,85.3C768,75,816,117,864,128C912,139,960,117,1008,117.3C1056,117,1104,139,1152,138.7C1200,139,1248,117,1296,117.3C1344,117,1392,139,1416,149.3L1440,160L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
                    </svg>
                    <h4 class="title text-uppercase mb-4 pb-4 header-text">My Portfolio</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects End -->
    <section class="section" id="projects">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <div class="titles">
                            <h4 class="title text-uppercase mb-4 pb-4">My Portfolio</h4>
                            <span></span>
                        </div>
                        <p class="text-muted mx-auto para-desc mb-0">Obviously I'M Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center mt-4 pt-2">
                <div class="col-12 text-center">
                    <ul class="col container-filter portfolioFilter list-unstyled mb-0 text-center" id="filter">
                        <li class="list-inline-item"><a class="categories rounded pl-3 pr-3 mb-2 active" data-filter="*">All</a></li>
                        {% for cate in categories %}
                            <li class="list-inline-item"><a class="categories rounded pl-3 pr-3 mb-2" data-filter=".c-{{ cate.id }}">{{ cate.name|capfirst }}</a></li>
                        {% endfor %}

                    </ul>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <div class="container">
            <div class="portfolioContainer row pt-2 mt-4">
                {% for port in projects %}

                    <div class="col-lg-3 col-md-4 p-0 c-{{ port.category.id }}">
                        <div class="portfolio-box position-relative ml-0 mr-0">
                            <div class="work-img position-relative overflow-hidden" style="height: 270px;">
                                {% if port.status == 'COOMINGSOON' %}
                                    <div class="comming-soon position-absolute">
                                        <h4 class="text-white">Cooming Soon</h4>
                                    </div>
                                {% endif %}
                                <img src="{{ port.image.url }}" style="width: 100%; height: 100%;" class="img-fluid" alt="work-image">
                                <div class="overlay-work">
                                    <div class="icon text-center">
                                        <a  class="mfp-image" href="{{ port.image.url }}" data-toggle="tooltip" data-placement="left" title="{{ port.name|title }}"><i class="mdi mdi-arrow-expand-all text-white"></i></a>
                                    </div>
                                    <div class="work-content">
                                        <h6 class="title mb-0"><a target="_blank" href="{{ port.link }}" class="text-light text-uppercase">{{ port.name|capfirst }}</a></h6>
                                        <small class="text-white-50">{{ port.category.name|title }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                {% endfor %}


            </div><!--end row-->
            <div class="row justify-content-center mt-4 pt-2">
                <div class="col-12 text-center">
                    <a href="{% url 'frontend:portfolio' %}" class="btn btn-custom rounded">See more <i class="mdi mdi-chevron-right"></i></a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Projects End -->

{% endblock content %}
{% block script %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script>
            var spinner =  $("#spinner_loader");
            var spinner2 =  $("#spinner_loader2");
            spinner.hide();
            spinner2.hide();

            $('span .dropdown .dropdown-menu input').click(function(e) {
                e.stopPropagation(); //This will prevent the event from bubbling up and close the dropdown when you type/click on text boxes.
            });
                let mode = localStorage.getItem('mytheme');
                if(mode === 'dark'){
                    $('body').attr('data-theme', 'dark');
                    {#$('#preloader').css('background-color',' #1a1b1f');#}
                    $('#chk').attr("checked", true);
                     $('#logo1').fadeOut(function () {
                        $('#logo2').fadeIn();
                    });

                }
                else {
                     $('body').removeAttr('data-theme')
                     $('#chk').attr("checked", false);
                     $('#logo2').fadeOut(function () {
                        $('#logo1').fadeIn();
                     });

                }

            $('#chk').change(function (e) {
                if(e.target.checked){
                    console.log('eeee');
                    $('body').attr('data-theme', 'dark');
                    localStorage.setItem('mytheme', 'dark');
                    $('#logo1').fadeOut(function () {
                        $('#logo2').fadeIn();
                    });

                }
                else {
                    console.log('ddd');
                    $('body').removeAttr('data-theme')
                    localStorage.setItem('mytheme', 'light');
                      $('#logo2').fadeOut(function () {
                        $('#logo1').fadeIn();
                      });
                }
            })

        </script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
{#        <script src="{% static 'js/scrollspy.min.js' %}"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
        <!-- SLIDER -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/owl.init.js' %}"></script>
        <!-- Magnific Popup -->
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/isotope.js' %}"></script>
        <script src="{% static 'js/portfolio-filter.js' %}"></script>
        <script src="{% static 'js/magnific.init.js' %}"></script>
        <!-- Contact -->
        <script src="{% static 'js/contact.js' %}"></script>
        <!-- Counter -->
{#        <script src="{% static 'js/counter.init.js' %}"></script>#}
{#        paperjs and noice#}
        <script src="{% static 'js/paper-core.js' %}"></script>
        <script src="{% static 'js/simplex-noise.js' %}"></script>
        <!-- Glitch -->
{#        <script src="{% static 'js/mgGlitch.min.js' %}"></script>#}
{#        <script src="{% static 'js/glitch.init.js' %}"></script>#}
        <!-- Typed -->
        <script src="{% static 'js/typed.js' %}"></script>
        <script src="{% static 'js/typed.init.js' %}"></script>
{#        <script src="{%  static 'js/ckeditor.js' %}"></script>#}
{#        <!-- Counter -->#}
{#        <script src="{% static 'js/switcher.j' %}s"></script>#}
        <!-- Main Js -->
        <script  src="{% static 'js/app.js' %}"></script>
        <script  src="{% static 'js/cusrom_cursor.js' %}"></script>
{#        <script  src="{% static 'css/color/dark-mode-switch.min.js' %}"></script>#}
        <script>

            // Typed Text
            $(".element2").each(function(){
                var $this = $(this);
                $this.typed({
                strings: $this.attr('data-elements2').split(','),
                typeSpeed: 100, // typing speed
                backDelay: 3000 // pause before backspacing
                });
            });

           $(document).ready(function(){
               var spinner =  $("#spinner_loader2");

               $("#newsletter_form").submit(function(e){
                    e.preventDefault();
                    spinner.fadeIn( "slow" );
                    var new_form_data = new FormData(this);
                    {#var new_form_data =$("#contact-form").serialize() ;#}

                    {#var fname =$("#first_name").val();#}
                    {#var lname =$("#last_name").val();#}
                    {#var email =$("#email").val();#}
                    {#var subject =$("#subject").val();#}
                    {#var message =$("#message").val();#}
                    {# console.log(fname,lname,email,subject,message);#}
                    $.ajax({
                        method : $("#newsletter_form").attr('method'),
                        processData: false,
                        contentType: false,
                        cache: false,
                        url :  {% url 'frontend:addsubscribers' %},
                        data: new_form_data,
                        success : function(response){
                            setTimeout(
                                function () {
                                    spinner.fadeOut( "slow" );
                                     if (response.results === 'success') {
                                        console.log(response.results);
                                        $("#newsletter_form")[0].reset();
                                        swal.fire({
                                            title: "Success!",
                                            text: response.form_success,
                                            type: "success",
                                            confirmButtonText: "Continue",
                                        });
                                     }
                                     else {
                                        spinner.fadeOut( "slow" );
                                        console.log(response.results);
                                        swal.fire({
                                            title: "Error!",
                                            text: "Form Is Invalid. Please Fill Each Input:",
                                            type: "error",
                                            confirmButtonText: "Retry"
                                        });
                                     }
                                },3000
                            )


                        },
                        error : function(response){
                            spinner.fadeOut( "slow" );
                            console.log(response);


                        }
                    });
               });
            });
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script>
            $(".modal-header").on("mousedown", function(mousedownEvt) {
                var $draggable = $(this);
                var x = mousedownEvt.pageX - $draggable.offset().left,
                    y = mousedownEvt.pageY - $draggable.offset().top;
                $("body").on("mousemove.draggable", function(mousemoveEvt) {
                    $draggable.closest(".modal-dialog").offset({
                        "left": mousemoveEvt.pageX - x,
                        "top": mousemoveEvt.pageY - y
                    });
                });
                $("body").one("mouseup", function() {
                    $("body").off("mousemove.draggable");
                });
                $draggable.closest(".modal").one("bs.modal.hide", function() {
                    $("body").off("mousemove.draggable");
                });
            });
            $(document).ready(function(){
               var spinner =  $("#spinner_loader");

               $("#contact-form").submit(function(e){
                    e.preventDefault();
                    spinner.fadeIn( "slow" );
                    var new_form_data = new FormData(this);
                    {#var new_form_data =$("#contact-form").serialize() ;#}

                    var fname =$("#first_name").val();
                    var lname =$("#last_name").val();
                    var email =$("#email").val();
                    var subject =$("#subject").val();
                    var message =$("#message").val();
                     console.log(fname,lname,email,subject,message);
                    $.ajax({
                        method : $("#contact-form").attr('method'),
                        processData: false,
                        contentType: false,
                        cache: false,

                        url :  {% url 'frontend:addmessage' %},
                        data: new_form_data,
                        {##}
                        success : function(response){

                            setTimeout(
                                function () {
                                    spinner.fadeOut( "slow" );
                                     if (response.results === 'success') {
                                        console.log(response.results);
                                        $("#contact-form")[0].reset();
                                        swal.fire({
                                            title: "Success!",
                                            text: response.form_success,
                                            {#text: "sent",#}
                                            type: "success",
                                            confirmButtonText: "Continue",
                                        });

                                    }
                                    else {
                                        spinner.fadeOut( "slow" );
                                        console.log(response.results);
                                        swal.fire({
                                            title: "Error!",
                                            text: "Form Is Invalid. Please Fill Each Input: "+ "\n" + response.form_error_message,
                                            type: "error",
                                            confirmButtonText: "Retry"
                                        });
                                    }
                                },3000
                            )


                        },
                        error : function(response){
                            spinner.fadeOut( "slow" );
                            console.log(response);


                        }
                    });
               });
            });
        </script>

{% endblock script %}